body {
  margin: 2rem;
}
tr:nth-child(odd) {
  background-color: rgb(232, 230, 230);
}
th {
  background-color: white
}
.badge {
  background-color: rgb(172, 172, 172);
}
div {
  display:flex;
  flex-wrap: wrap;
}
form {
  padding-left: 2rem;
}
